body {
  max-width: 85%;
  text-align: center;
  margin: 1rem auto;
  background-color: #fcd34d;
}

label {
  display: block;
  width: 80%;
  margin: 1rem auto;
}

input {
  height: 5vh;
  width: 250px;
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0 1rem;
}

button {
  display: block;
  margin: 1rem auto;
  height: 5vh;
  border-radius: 0.5rem;
  padding: 0 1rem;
  outline: none;
  cursor: pointer;
}

footer {
  width: 70%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
}
/* li {
  display: inline;
  float: left;
  padding: 0.5rem;
  margin: 0 auto;

  text-align: ce;
} */

ul p {
  text-align: center;
}
ul li {
  /* text-align: center; */
  float: left;
  width: 20%;
  padding: 0;
}
